

.skeleton-grid {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3,1fr); 
    grid-gap: 30px;
  }
  
  .skeleton-item {
    width: 200px;
    height: 200px;
    aspect-ratio: 3 / 2; 
    border-radius: 8px;
    background: #e0e0e0;
    animation: pulse 1.5s infinite ease-in-out;

  }
  
  @keyframes pulse {
    0% {
      background-color: #e0e0e0;
    }
    50% {
      background-color: #f0f0f0;
    }
    100% {
      background-color: #e0e0e0;
    }
  }
  